@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #333;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #1119;
  color: #880000;
  padding: 0 20px;
  line-height: 3;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
}

.navbar a {
  color: red;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin: 10px;
}

.nav-link a {
  color: red;
}

.nav-link a:hover {
  border-bottom: 2px solid red;
}

.btn {
  padding: 10px 20px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: #333;
  font-weight: 700;
  cursor: pointer;
  margin: 20px;
}

.btn:hover {
  background-color: rgb(248, 52, 52);
}


.module-checker {
  display: flex;
  flex-wrap: wrap;
  background-color: #1119;
  color: rgb(255, 0, 0);
  margin: 100px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  border-radius: 10px; 
}

.parameter {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
}

.module-checker h2 {
  width: 100%;
  text-align: center;
  margin: 10px;
  padding: 20px;
}


.input-parameter {
  display: flex;
  width: 400px;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  color: red;
  margin: 5px;
  border:none;
}

.input-parameter:focus {
  border: 2px solid red;
}

.parameter label {
  margin-left: 5px;
}

.dash-board-body {
  display: flex;
  flex-wrap: wrap;
}

.card-module {
  display: inline-block;
  height: 300px;
  width: 47.3%;
  background-color: #1119;
  color: red;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.2);
}

.card-module h2 {
  text-align: center;
  margin: 10px;
}
.card-module p {
  margin-top: 20px;
  margin-left: 10px;
}

