@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #333;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #1119;
  color: #880000;
  padding: 0 20px;
  line-height: 3;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.8);
}

.navbar a {
  color: red;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin: 10px;
}

.nav-link a {
  color: red;
}

.nav-link a:hover {
  border-bottom: 2px solid red;
}

.btn {
  padding: 10px 20px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: #333;
  font-weight: 700;
  cursor: pointer;
  margin: 20px;
}

.btn:hover {
  background-color: rgb(248, 52, 52);
}


.module-checker {
  display: flex;
  flex-wrap: wrap;
  background-color: #1119;
  color: rgb(255, 0, 0);
  margin: 100px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  border-radius: 10px; 
}

.parameter {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
}

.module-checker h2 {
  width: 100%;
  text-align: center;
  margin: 10px;
  padding: 20px;
}


.input-parameter {
  display: flex;
  width: 400px;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  color: red;
  margin: 5px;
  border:none;
}

.input-parameter:focus {
  border: 2px solid red;
}

.parameter label {
  margin-left: 5px;
}

.dash-board-body {
  display: flex;
  flex-wrap: wrap;
}

.card-module {
  display: inline-block;
  height: 300px;
  width: 47.3%;
  background-color: #1119;
  color: red;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.2);
}

.card-module h2 {
  text-align: center;
  margin: 10px;
}
.card-module p {
  margin-top: 20px;
  margin-left: 10px;
}

.register-container {
  display:flex;
  margin:auto;
  justify-content: center;
  background-color: #1119;
  width: 50%;
  height: 500px;
}
.img-register {
  width: 20%;
  height: 100%;
}

.register-form {
  width: 50%;
}

.img {
  width: 300px;
  height: 500pxS;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color: #1119;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.3);
}

.login-container h1 {
  text-align: center;
  margin: 30px;
  color: #fff;
  height: 15vh;
}

.login-buttons {
  display: flex;
  flex-direction: column;
}

.login-button {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px 10px;
  background-color: #111;
  border: 1px solid transparent; 
  outline: 1px solid rgb(255, 255, 255, 0.15); 
  color: #fff;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1119;
}

.login-button p {
  margin-left: 10px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.sign-up-inputs {
  display: flex;
  flex-direction: column;
  padding: 10px 60px;
  color: #fff;
  background-color: #1119;
  border: 1px solid transparent;
  outline: 1px solid rgb(255, 255, 255, 0.15);
  border: none;
  margin: 20px;
  border-radius: 5px;
}

.sign-up-inputs:focus {
  border: 1px solid red;
  background-color: #333;
}

.btn-sign-up {
  display: flex;
  padding: 10px 115px;
  margin-top: 5px;
  margin:auto;
  border-radius: 5px;
  color: #fff;
  background-color: #1119;
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  outline: 1px solid rgb(255, 255, 255, 0.15);
  border: none;
}

.btn-sign-up:hover {
  background-color: #111;
  border: none;
}

.login-container h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
}

