@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #333;
}

.header {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: black;
  color: red;
  padding: 0 20px;
  line-height: 3;

}

.btn {
  padding: 10px 20px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: #333;
  font-weight: 700;
  cursor: pointer;
  margin: 20px;
}

.btn:hover {
  background-color: rgb(248, 52, 52);
}

.nav-links {
  display: flex;
}

.nav-link {
  display: flex;
  flex-direction: column;
  margin:10px;
  color: red;
  font-weight: 700;
  cursor: pointer;
}

  li:hover{
   border-bottom: 2px solid red;
}

.module-checker {
  background-color: black;
  color: red;
  margin: 100px;
  border-radius: 20px;
}

.parameter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.module-checker h2 {
  text-align: center;
  margin: 10px;
  padding: 20px;
}


.input-parameter {
  display: flex;
  width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  margin: 5px;
  border:none;
}

.input-parameter:focus {
  border: 2px solid red;
}

.parameter label {
  margin-left: 5px;
}
